*{
    margin: 0;
    padding: 0;
    border: 0;
}
.home{
    height: 100%;
    overflow: hidden; /* 清除浮动 */
}
.content{
    perspective: 340px;
    width: 100%;
    position: relative;;
}
.stars{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 2px;
    z-index: 999;
    border-radius: 50%;
    box-shadow: -447px 387px #c4c4c4, -401px 118px #fafafa, -109px 217px #d9d9d9;
    animation: fly 15s linear infinite;
    transform-style: preserve-3d;
}

.avatar_size{
    width: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 10px 10px 10px rgba(0,0,0,.5);
    position: absolute;
    margin-top: 10px;
    margin-left: 15px;
}

.centt .cent{
    width: 100%;
    height: 75px;   
    position: absolute;
    display: flex;
    border-bottom-right-radius: 11px;
    background: rgb(130, 130, 130);
    opacity: 0.4;
}

ul{
    position: absolute;
    right: 1px;
    margin-top: 23px;
    font-size: 18px;
    width: 300px;
}
ul li{
    display: inline-block;
}

a{
    display: inline;
    padding:12px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.stars::before,.stars::after{
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    box-shadow: inherit;
}

.title{
    color: #fff;
    font-size: 33px;
    font-family: "楷体";
    position: absolute;
    margin-top: 17px;
    margin-left: 100px;
}
.memo{
    width: 20px;
    height: 20px;
}
.PC{
    display: inline;
    position: absolute;
    right: 1px;
    margin-top: 23px;
}
@media screen and (min-width: 906px) {
    article {
        display: grid;
        grid-template-columns: 3fr 1fr;
        column-gap: 20px;
    }

    .home {
        display: flex;
    }

    .home .content,.home .content .centt{
        flex: 1;
    }
}
@media screen and (max-width:1244px) { .PC{
         display:none; 
    }
}