* {
    margin: 0;
    padding: 0;
    border: 0;
}

.introduce {
    display: flex;
    flex-direction: column;
}

.introduce_item {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.introduce_item_img {
    width: 400px;
    height: 250px;
}

.introduce_item_title {
    width: 450px;
    font-size: 20px;
    line-height: 30px;
    align-self: center;
    padding-left: 110px;
    user-select: none;
    font-family: "仿宋";
}

.introduce_item_titles {
    width: 450px;
    font-size: 20px;
    line-height: 30px;
    align-self: center;
    padding-right: 110px;
    user-select: none;
    font-family: "仿宋";
}

@media screen and (max-width: 200px) {
    article {
        display: grid;
        grid-template-columns: 3fr 1fr;
        column-gap: 14px;
    }

    .introduce {
        display: flex;
    }

    .introduce_item,
    .introduce_item_img,
    .introduce_item_title,
    .introduce_item_titles {
        flex: 1;
    }
}

@media screen and (max-width:940px) {
    .introduce_item_img {
        display: none;
    }
    .introduce_item_title{
        text-align: center;
        margin-right: 20%;

    }.introduce_item_titles{
        text-align: center;
        margin-left: 20%;
    }
}
