*{
    margin: 0;
    padding: 0;
    border: 0;
}
.introduce {
    display: flex;
    flex-direction: column;
}
.introduce_item {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.introduce_item_img{
    width: 800px;
    height: 500px;
}

.introduce_item_title{
    width: 300px;
    font-size: 18px;
    line-height: 36px;
    align-self: center;
    padding-left: 100px;
}

.introduce_item_titles{
    width: 300px;
    font-size: 18px;
    line-height: 36px;
    align-self: center;
    padding-right: 100px;
}